<!-- okurmen/templates/student_details.html -->
{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <h2>{{ manager.name }}</h2>
    <p><span>{% translate "Manager Number" %}</span>: {{ manager.manager_number }}</p>
    <p style='width: 400px'><span>{% translate "Description" %}</span>: {{ manager.responsibilities }}</p>
    <p><span>{% translate "Сколько студентов" %}</span>: {{manager.directed_students_count}}</p>
    
    <!-- Другие детали менеджера, если нужно -->


{% endblock %}
